textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: white;
}
